<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<!--
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>


        <div class="form-group">
            <div ng-controller="ViewLoginCtrl">
                <form>
                    <input type="text" placeholder="UserName" ng-model="user">
                    <button ng-click="changeUserName()"> Change </button>
                </form>
            </div>
        </div>

        <div class="form-group">
            <button ng-click="result()"> Result </button>
        </div>

    </form>
-->

    <div class="form-group">
        <div ng-controller="ViewLoginCtrl">
            <form>
                <input type="text" placeholder="UserName" ng-model="userName">
                <button ng-click="checkId()"> CheckIdUser </button>
            </form>
        </div>
    </div>

    <div class="form-group">
        <div ng-controller="ViewLoginCtrl">
            <form>
                <input type="text" placeholder="Password" ng-model="userName">
                <button ng-click="checkId()"> CheckIdUser </button>
            </form>
        </div>
    </div>



</body>
</html>