
<!-- VIEW LOGIN -->
<div class="login-01">
    <div class="one-login  hvr-float-shadow">
        <div class="one-login-head">
                <img src="viewLogin/images/top-lock.png" alt=""/>
                <h1>LOGIN</h1>
                <span></span>
        </div>
        <div ng-controller="ViewLoginCtrl">
            <form>
                <li>
                    <input type="text" placeholder="Username" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" ng-model="userName"><a href="#" class=" icon user"></a>
                </li>
                <li>
                    <input type="password" placeholder="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" ng-model="password"><a href="#" class=" icon lock"></a>
                </li>

                <div class="submit">
                        <input ng-click="checkId()" type="submit" onclick="myFunction()" value="SIGN IN" >
                </div>
		<div class="submit">
                        <input ng-click="nullId()" type="submit" value="RESET" >
		</div>
            </form>
        </div>
    </div>
</div>
